<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>검색 결과</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/items/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>영화 제목</th>
                <th>부제목</th>
                <th>영화 감독</th>
                <th>평점</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td><a th:utext="${movie.title}">영화 제목</a></td>
                <td th:utext="${movie.subtitle}">부제</td>
                <td><a th:utext="${movie.director}">감독</a></td>
                <td th:utext="${movie.userRating}">평점</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>